---
title: <center>Page 3 of Team 1's Site</center>
published: true
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
    <meta name="keywords" value="{{ site.meta_keywords }}" />
    <meta name="description" value="{{ site.meta_description }}" />
    <link rel="stylesheet" href="app.css" media="screen" title="no title">
  </head>
  <body >
  <style>
    body{      background-color: green
}
  </style>
    <a href="/index.liquid">Welcome Page</a>
    <a href="/page3.liquid">Page 2</a>
    <h1>{{ page.title }}</h1>
    {% block 'main' %}
    <center>Our last page of orginal content for you kids</center>
    {% endblock %}
    <center> Here is the last great page of Team 1's achievements </center>
    <center> There is a green background because that is the first thing to come to mind </center>
    <center> Here goes nothing! Adam please be nice! </center>
  </body>
</html>